.footer {
  /* margin-top: 55px !important; */
  background-color: rgb(8, 8, 8) !important;
}

.github {
  margin-bottom: 2px;
  color: white !important;
}

.telegram {
  margin-top: 5px;
  margin-right: 2px;
}

.instagram {
  margin-bottom: 2px;
}

.youtube {
  margin-bottom: 2px;
}
