.img-details {
  width: 110%;
  /* margin-right: 10%; */
  /* padding-right: 10%; */
  padding-top: 15%;
}
/* }
.productDetails_type {
  color: gray;
}
.productDetails_price {
  color: blueviolet;
} */
